<!DOCTYPE html>
<html>
  <head>
    <title>User Dashboard</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>User Dashboard</h1>
    <p>Welcome User</p>

    <button>Load Project</button>
    <button>Delete Project</button>
    

  </body>
</html>
