<!DOCTYPE html>
<html>
  <head>
    <title>Workspace</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
  <h1>Workspace</h1>
    
    <div class="menu">
      <button>New Module</button>
      <button>Add Input</button>
      <button>Connect Module</button>
    </div>

    <div class="menu">
      <button>Import Data</button>
      <button>Visulise Data</button>
      <button>Save Module</button>
    </div>

  </body>
</html>
